<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}"
       href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == '/bio.html' %} active{% endif %}"
       href="/bio.html">Bio/CV</a>
    <a class="sidebar-nav-item{% if page.url == '/research.html' %} active{% endif %}"
       href="/research.html">Research</a>
    <a class="sidebar-nav-item{% if page.url == '/publications.html' %} active{% endif %}"
       href="/publications.html">Publications</a>
    <a class="sidebar-nav-item" id="contact-email">Contact</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
